<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<div class="container max600" layout:fragment="content">
  <h2 class="border-bottom my-3 py-2">답변 수정</h2>
  <form th:Object="${answerForm}" method="post">
    <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger" role="alert">
      <div th:each=" err : ${#fields.allErrors()}" th:text="${err}"></div>
    </div>
    <div class="mb-3">
      <label th:for="content" class="form-label">내용</label>
      <textarea th:field="*{content}" class="form-control" rows="10" placeholder="내용을 입력하세요."></textarea>
    </div>
    <hr class="my-4">
    <div class="my-2 text-end">
      <button type="submit" class="btn btn-dark btn-sm">저장하기</button>
      <button th:onclick="|location.href='@{/}'|" type="button" class="btn btn-outline-secondary btn-sm">취소</button>
    </div>
  </form>
</div>
</html>